@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Pacifico&display=swap');

body {
background-color: beige;
overflow: hidden;

}

.heading{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size:x-large;
    color: black;
    position:relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0% {top: -250px}
    100%{top: 100px}
}

.ingredients{

    position: relative;
    animation: ingredients;
    animation-duration: 3s;

    border: 3px solid black;
    width: 50%;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 30px;
    color:blue
   
    
}

@keyframes ingredients {
    0% {left: -900px}
    85% {left: 50px}
    100% {left: 0;}
}

.ingredients-table{
border: 1px solid black;
margin-right: 5rem;
border: 3px solid black;

}

.instructions{
    position: relative;
    animation: instructions;
    animation-duration: 3s;

    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    color:blue

}

@keyframes instructions {
    0% {right: -900px}
    85% {right: 50px}
    100% {right: 0;}
}

.instructions ol {
    border: 3px solid black;
    margin: 0 auto;
    width: 90%;
    padding-left: 120px;
    
    
}

.footer{
    width: 50%; 
    margin: 0 auto;
    
    animation: footer;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes footer {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.img{

    border: 1px solid black;
    
}
